/*-----------------------------------
Imports
-----------------------------------*/
body, html, #container {
  background-color: #333333;
  font-family: "Proxima Nova", verdana, sans-serif;
  font-size: 16px;
  color: white;
  height: 100%;
  position: relative;
  line-height: 1.5em;
  font-weight: lighter;
  letter-spacing: 0.3px; }

/*-----------------------------------
Navigation & Landing Page
-----------------------------------*/
#nav, #mobNav {
  width: 100%;
  height: 40px;
  color: #e4f8b7;
  background-color: #333333;
  position: fixed;
  text-transform: uppercase;
  border-bottom: 5px solid #e4f8b7;
  z-index: 10;
  /*second border*/
  /*
  &.otherPages {
  	border-bottom: 1px solid $primary-green;
  }*/ }
  #nav #navBorder, #mobNav #navBorder {
    width: 100%;
    position: relative;
    top: 5px;
    border-bottom: 3px solid #b8c7a5;
    z-index: 9; }
  #nav ul, #mobNav ul {
    text-align: center;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
  #nav a, #mobNav a {
    color: #e4f8b7; }
  #nav li, #mobNav li {
    display: inline;
    font-size: 13px;
    padding: 10px 20px;
    /*width: 100 / 6.1 * 1%;*/
    text-align: center;
    line-height: 40px;
    /*border-right: 1px solid $primary-green;*/
    letter-spacing: 1px;
    /*
    &:last-child {
    	border-right: none;
    }*/ }
    #nav li:hover, #mobNav li:hover {
      color: white; }

/*-----------------------------------
Mobile Nav
-----------------------------------*/
#mobNav {
  display: none;
  height: auto;
  border: none; }
  #mobNav ul {
    display: none;
    margin: 30px auto; }
  #mobNav li {
    display: block;
    width: 50%;
    height: 20px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 18px; }
  #mobNav #mobNavBorder {
    background-color: #e4f8b7;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%; }

#navButton {
  display: inline-block;
  position: fixed;
  border-radius: 10% 10%;
  top: 5%;
  left: 7%;
  width: 60px;
  height: 60px;
  background-color: #333333;
  opacity: 0.7;
  cursor: pointer; }
  #navButton .navBtnLine {
    display: block;
    width: 50%;
    height: 4px;
    background-color: #e4f8b7;
    margin: 7px auto;
    /*border-radius: 3px;*/
    opacity: 1; }
    #navButton .navBtnLine:first-child {
      margin-top: 17px; }

#logo {
  position: absolute;
  display: inline-block;
  width: 500px;
  top: 45%;
  right: 25%; }
  #logo img {
    width: 100%; }

#scrollIcon {
  width: 45px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0; }
  #scrollIcon img {
    width: 100%; }

/*-----------------------------------
Buttons
-----------------------------------*/
.button {
  display: inline-block;
  margin: 15px auto 0 auto;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background-color: #e4f8b7;
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .button a {
    text-decoration: none;
    color: inherit; }
  .button span {
    text-transform: none; }

.greenButton {
  background-color: #333333;
  color: white;
  margin: 5px auto 0 auto; }

/*-----------------------------------
Background Images
-----------------------------------*/
#imgCont1 {
  height: 90%; }

.imageContainer {
  height: 75%; }

#imageOne, #imageTwo, #imageThree, #imageFour, #imageFive, #imageSix, #imageSeven, #imageEight {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.images {
  height: 100%; }

#imageOne {
  background-image: url("../images/MND_Web_Stones.jpg");
  position: relative;
  height: 100%; }

#imageTwo {
  background-image: url("../images/MND_Web_Succulents.jpg"); }

#imageThree {
  background-image: url("../images/MND_Web_Mushrooms.jpg"); }

#imageFour {
  background-image: url("../images/MND_Web_Jars.jpg"); }

#imageFive {
  background-image: url("../images/MND_Web_Chairs.jpg"); }

#imageSix {
  background-image: url("../images/MND_Web_Canoe.jpg"); }

#imageSeven {
  background-image: url("../images/MND_Web_THM.jpg"); }

#imageEight {
  background-image: url("../images/MND_Web_Road.jpg"); }

/*-----------------------------------
Main Styling
-----------------------------------*/
.content {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  text-align: center;
  background-color: #333333; }
  .content p, .content ul {
    width: 45%;
    margin: 0 auto; }
  .content a {
    color: #e4f8b7; }
    .content a:hover {
      color: white; }
  .content h2 {
    margin: 0 auto;
    width: 50%;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 1px;
    color: #e4f8b7;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .content h3 {
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .content.green {
    background-color: #e4f8b7 !important;
    color: #333333;
    border-top: 8px solid #b8c7a5;
    border-bottom: 8px solid #b8c7a5; }
    .content.green h2 {
      color: #333333; }

/*
.content:nth-child(4n+1) {
	background-color: $primary-green !important;
	color: $primary-black;
	border-top: 8px solid $secondary-green;
	border-bottom: 8px solid $secondary-green;
	h2 {
		color: $primary-black;
	}
}
*/
/*-----------------------------------
Individual Sections - Main Page
-----------------------------------*/
#beliefs ol {
  list-style: decimal inside none;
  margin: 40px 0; }
#beliefs li {
  padding: 10px 0;
  font-weight: 600; }
  #beliefs li:nth-child(odd) {
    background-color: #d5eea6; }
#beliefs p {
  margin-top: 20px; }
#beliefs h3 {
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto; }

#practice span {
  text-transform: uppercase;
  font-weight: normal; }

#credentials img {
  width: 350px;
  margin: 17px 0; }

#icons {
  width: 60%;
  display: inline-block;
  margin: 40px auto 0 auto;
  text-align: center; }
  #icons .iconItems {
    width: 22.2222222222%;
    display: inline-block;
    vertical-align: center; }
    #icons .iconItems img {
      width: 50%; }
  #icons span {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.8px; }

#photos {
  width: 55%;
  margin: 40px auto; }
  #photos img {
    width: 44%;
    max-width: 200px;
    min-width: 150px;
    margin: 2%;
    border: 4px solid #e4f8b7; }

#life {
  /*Bring footer closer*/
  padding-bottom: 120px; }

#socialIcons {
  text-align: center; }
  #socialIcons img {
    width: 50px;
    margin: 0 15px; }

/*-----------------------------------
Contact Page
-----------------------------------*/
#contact h3 {
  color: #e4f8b7;
  margin-top: 40px;
  margin-bottom: 10px; }
#contact span {
  font-weight: bold;
  color: #e4f8b7;
  line-height: 2em; }
#contact a {
  text-decoration: underline;
  color: white; }
  #contact a:hover {
    color: #e4f8b7; }

/*-----------------------------------
Links Page
-----------------------------------*/
#links h3 {
  margin-top: 60px; }
#links li {
  margin: 7px 0; }

/*-----------------------------------
Common Conditions Page
-----------------------------------*/
#conditionsTable {
  margin: 60px auto 0 auto;
  width: 80%; }
  #conditionsTable ul {
    width: 20%;
    min-width: 200px;
    display: inline-block;
    border: 1px solid #e4f8b7;
    text-align: left;
    height: 650px;
    vertical-align: top;
    margin: 0px 2px 0px 2px; }
    #conditionsTable ul .tableHead {
      text-transform: uppercase;
      background-color: #e4f8b7;
      color: #333333;
      text-align: center;
      font-weight: 600; }
  #conditionsTable li {
    padding: 5px 10px 5px 10px; }
    #conditionsTable li:nth-child(2) {
      margin-top: 15px; }

/*
table {
	margin-top: 100px;
	width: 80%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 10px 0px;
	background-color: $primary-black;

	th {
		background-color: $primary-green;
		color: $primary-black;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
		padding: 10px;
		margin: 0px 5px 0px 5px;
	}

	tr {
		&:last-child td {
			border-bottom: 1px solid $primary-green;

	}

	td {
		width: 25%;
		padding: 5px 10px 5px 10px;
		text-align: left;
		margin: 0px 5px 0px 5px;
		border-right: 1px solid $primary-green;
		border-left: 1px solid $primary-green;
		border-color: $primary-green;

		&:nth-child(1);

	}

}
*/
/*-----------------------------------
Footer
-----------------------------------*/
#footer, #footerContact {
  text-align: center; }

#footerContact {
  margin-top: 100px; }

#footerLockup {
  height: 170px;
  width: 500px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 35px; }

#stones {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }
  #stones img {
    height: 100%; }

#footerLogo {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 20px;
  right: 10px; }
  #footerLogo img {
    width: 100%; }

#footerGradient {
  height: 100px;
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #bababa 10%); }

/*-----------------------------------
Imports
-----------------------------------*/
/*-----------------------------------
Media Queries
-----------------------------------*/
@media screen and (max-width: 1100px) {
  #logo {
    width: 45%;
    min-width: 300px; }

  #scrollIcon {
    width: 45px; }

  #conditionsTable ul {
    width: 40%; }

  #nav, #mobNav {
    display: none; }

  #mobNav {
    display: block; }

  #imageFive {
    background-position: 95%; } }
@media screen and (max-width: 830px) {
  #imageOne {
    background-position: 30% 0%; }

  #logo {
    right: 15%; }

  #scrollIcon {
    left: 15%;
    top: 57%; }

  .content p, .content ul {
    width: 65%; }
  .content h2, .content h3 {
    width: 70%; }
  .content h2 {
    line-height: 1em; }

  #icons {
    width: 80%;
    font-size: 0.85em; }
    #icons .iconItems img {
      width: 60%; }

  #photos {
    width: 65%; }
    #photos img {
      margin: 1%;
      max-width: none;
      min-width: none; } }
@media screen and (max-width: 600px) {
  .content {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative; }
    .content h2 {
      font-size: 1.7em;
      width: 80%; }
    .content h3 {
      font-size: 1em;
      margin-left: auto;
      margin-right: auto; }
    .content p {
      font-size: 0.92em; }
    .content a {
      font-size: 0.95em; }

  #imgCont1 {
    height: 90%; }

  .imageContainer {
    width: 100%;
    height: 75%; }

  #imageOne, #imageTwo, #imageThree, #imageFour, #imageFive, #imageSix, #imageSeven, #imageEight {
    background-attachment: scroll;
    height: 100%;
    width: 100%; }

  #imageOne {
    /*background-position: 8% 0;*/
    background-image: url("../images/MND_Web_Stones_Mobile.jpg");
    background-position: center; }

  #imageThree {
    background-position: 75%; }

  .button {
    padding: 8px 15px; }

  #mobNav li {
    width: 80%; }

  #navButton {
    width: 12vw;
    height: 12vw; }
    #navButton .navBtnLine {
      height: 3px; }
      #navButton .navBtnLine:first-child {
        margin-top: 3vw; }

  #logo {
    top: 5.5%;
    right: 6%;
    width: 70%;
    min-width: 0;
    z-index: 9; }

  #scrollIcon {
    top: 93%;
    left: 0;
    width: 35px;
    z-index: 99999; }

  #about {
    padding-top: 120px;
    padding-bottom: 120px; }

  #beliefs li {
    font-size: 0.95em;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%; }

  #practice span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    line-height: 1.3em; }

  #credentials img {
    width: 100%; }

  #photos {
    width: 70%; }
    #photos img {
      width: 40%;
      min-width: 0; }

  #icons .iconItems {
    width: 37%; }
    #icons .iconItems:nth-child(n+3) {
      margin-top: 15px; }

  #life {
    padding-bottom: 75px; }

  #socialIcons img {
    width: 10%;
    margin: 0 3%; }

  #footer, #footerContact {
    z-index: 999;
    position: relative;
    background-color: #333333; }

  #footerLockup {
    width: 80%;
    height: 120px; }

  #stones {
    width: 25%; }

  #footerLogo {
    width: 70%;
    margin-left: 3%;
    bottom: 0px; } }

/*# sourceMappingURL=main.css.map */
