body, html, #container {
  background-color: #333333;
  font-family: "Proxima Nova", verdana, sans-serif;
  color: white;
  height: 100%;
  position: relative;
  line-height: 1.5em;
  font-weight: lighter;
  letter-spacing: 0.3px; }

/*-----------------------------------
Landing Page
-----------------------------------*/
#nav {
  width: 100%;
  height: 40px;
  color: #e4f8b7;
  text-transform: uppercase; }
  #nav ul {
    text-align: center;
    font-size: 0; }
  #nav a {
    color: #e4f8b7; }
  #nav li {
    display: inline-block;
    font-size: 12px;
    width: 16.393442623%;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #e4f8b7;
    letter-spacing: 1px; }
    #nav li:last-child {
      border-right: none; }
  #nav.otherPages {
    border-bottom: 1px solid #e4f8b7; }

#logo {
  position: absolute;
  display: inline-block;
  width: 500px;
  top: 45%;
  right: 25%; }
  #logo img {
    width: 100%; }

#scrollIcon {
  width: 45px;
  margin: 0 auto;
  position: relative;
  top: 62%;
  left: 3%; }
  #scrollIcon img {
    width: 100%; }

/*-----------------------------------
Buttons
-----------------------------------*/
.button {
  display: inline-block;
  margin: 15px auto 0 auto;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background-color: #e4f8b7;
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .button a {
    text-decoration: none;
    color: inherit; }
  .button span {
    text-transform: none; }

.greenButton {
  background-color: #333333;
  color: white;
  margin: 5px auto 0 auto; }

/*-----------------------------------
Background Images
-----------------------------------*/
#imageOne, #imageTwo, #imageThree, #imageFour, #imageFive, #imageSix, #imageSeven, #imageEight {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.images {
  height: 75%; }

#imageOne {
  background-image: url("../images/MND_Web_Stones.jpg");
  position: relative;
  height: 90%; }

#imageTwo {
  background-image: url("../images/MND_Web_Succulents.jpg"); }

#imageThree {
  background-image: url("../images/MND_Web_Mushrooms.jpg"); }

#imageFour {
  background-image: url("../images/MND_Web_Jars.jpg"); }

#imageFive {
  background-image: url("../images/MND_Web_Chairs.jpg"); }

#imageSix {
  background-image: url("../images/MND_Web_Canoe.jpg"); }

#imageSeven {
  background-image: url("../images/MND_Web_THM.jpg"); }

#imageEight {
  background-image: url("../images/MND_Web_Road.jpg"); }

/*-----------------------------------
Main Styling
-----------------------------------*/
.content {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  text-align: center; }
  .content p, .content ul {
    width: 45%;
    margin: 0 auto; }
  .content h2 {
    margin: 0 auto;
    width: 50%;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 1px;
    color: #e4f8b7;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .content h3 {
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 3px; }
  .content.green {
    background-color: #e4f8b7 !important;
    color: #333333;
    border-top: 8px solid #b8c7a5;
    border-bottom: 8px solid #b8c7a5; }
    .content.green h2 {
      color: #333333; }

/*
.content:nth-child(4n+1) {
	background-color: $primary-green !important;
	color: $primary-black;
	border-top: 8px solid $secondary-green;
	border-bottom: 8px solid $secondary-green;
	h2 {
		color: $primary-black;
	}
}
*/
/*-----------------------------------
Individual Sections
-----------------------------------*/
#beliefs ol {
  list-style: decimal inside none;
  margin: 40px 0; }
#beliefs li {
  padding: 10px 0;
  font-weight: 600; }
  #beliefs li:nth-child(odd) {
    background-color: #d5eea6; }
#beliefs p {
  margin-top: 20px; }

#practice span {
  text-transform: uppercase;
  font-weight: normal; }

#credentials img {
  width: 350px;
  margin: 17px 0; }

#icons {
  width: 60%;
  display: inline-block;
  margin: 40px auto 0 auto;
  text-align: center; }
  #icons .iconItems {
    width: 22.2222222222%;
    display: inline-block;
    vertical-align: center; }
    #icons .iconItems img {
      width: 50%; }
  #icons span {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.8px; }

#photos {
  width: 55%;
  margin: 40px auto; }
  #photos img {
    width: 44%;
    max-width: 200px;
    min-width: 150px;
    margin: 2%;
    border: 4px solid #e4f8b7; }

#life {
  /*Bring footer closer*/
  padding-bottom: 120px; }

#socialIcons {
  text-align: center; }
  #socialIcons img {
    width: 50px;
    margin: 0 15px; }

#contact h3, #ohip h3 {
  margin-bottom: 15px; }

#contact h3 {
  color: #e4f8b7;
  margin-top: 40px; }
#contact span {
  font-weight: bold;
  color: #e4f8b7;
  line-height: 2em; }

/*-----------------------------------
Footer
-----------------------------------*/
#footer, #footerContact {
  text-align: center; }

#footerContact {
  margin-top: 100px; }

#footerLockup {
  height: 170px;
  width: 500px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 35px; }

#stones {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }
  #stones img {
    height: 100%; }

#footerLogo {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 20px;
  right: 10px; }
  #footerLogo img {
    width: 100%; }

#footerGradient {
  height: 100px;
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #bababa 10%); }

/*# sourceMappingURL=main.css.map */
