
/*-----------------------------------
Media Queries
-----------------------------------*/

@media screen and (max-width: 1100px) {

	#logo {
		width: 45%;
		min-width: 300px;
	}

	#scrollIcon {
		width: 35px;
	}

	#conditionsTable {
		ul {
			width: 40%;
		}
	}

	#nav {
		display: none;
	}

	#mobNav {
		display: block;
	}

}

@media screen and (max-width: 830px) {

	#imageOne {
		background-position: 30% 0%;
	}

	#logo {
		right: 15%;
	}

	.content {

		p, ul {
			width: 65%;
		}

		h2, h3 {
			width: 70%;
		}

		h2 {
			line-height: 1em;
		}
	}

	#icons {
		width: 80%;
		font-size: 0.85em;

		.iconItems {

			img {
				width: 60%;
			}
		}
	}

	#photos {
		width: 65%;

		img {
			margin: 1%;
			max-width: none;
			min-width: none;
		}
	}
}



@media screen and (max-width: 600px) {

	.content {
		padding-top: 75px;
		padding-bottom: 75px;

		h2 {
			font-size: 1.7em;
			width: 80%;
		}

		h3 {
			font-size: 1em;
		}

		p {
			font-size: 0.92em;
		}

		a {
			font-size: 0.95em;
		}
	}

	.button {
		padding: 8px 15px;
	}

	#mobNav {
		li {
			width: 80%;
		}
	}

	#navButton {
		width: 12vw;
		height: 12vw;

		.navBtnLine {
			height: 3px;

			&:first-child {
				margin-top: 3vw;
			}
		}
	}

	#logo {
		top: 6%;
		right: 6%;
		width: 70%;
		min-width: 0;
	}

	#scrollIcon {
		top: 103%;
		left: 0;
	}


	#about {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#beliefs {
		li {
			font-size: 0.95em;
			width: 80%;
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	#practice {
		span {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 65%;
			line-height: 1.3em;
		}
	}

	#credentials img {
		width: 100%;
	}

	#photos {
		width: 70%;

		img {
			width: 40%;
			min-width: 0;
		}
	}

	#icons {
		.iconItems {
			width: 37%;
			&:nth-child(n+3) {
				margin-top: 15px;
			}
		}
	}

	%images {
		background-attachment: scroll;
	}	

	#imageOne {
		background-position: 8% 0;
	}

	#imageThree {
		background-position: 75% 0;
	}

	#imageFive {
		background-position: 95% 0;
	}


	#footerLockup {
		width: 80%;
		height: 120px;
	}

	#stones {
		width: 25%;
	}

	#footerLogo {
		width: 70%;
		margin-left: 3%;
		bottom: 0px;
	}

}






