
/*-----------------------------------
Media Queries
-----------------------------------*/

@media screen and (max-width: 1100px) {

	#logo {
		width: 45%;
		min-width: 300px;
	}

	#scrollIcon {
		width: 45px;
	}

	#conditionsTable {
		ul {
			width: 40%;
		}
	}

	#nav {
		display: none;
	}

	#mobNav {
		display: block;
	}

	#imageFive {
		background-position: 95%;
	}

}

@media screen and (max-width: 830px) {

	#imageOne {
		background-position: 30% 0%;
	}

	#logo {
		right: 15%;
	}

	#scrollIcon {
		left: 15%;
		top: 57%;
	}

	.content {

		p, ul {
			width: 65%;
		}

		h2, h3 {
			width: 70%;
		}

		h3 {
			margin-left: auto;
			margin-right: auto;
		}

		h2 {
			line-height: 1em;
		}
	}

	#icons {
		width: 80%;
		font-size: 0.85em;

		.iconItems {

			img {
				width: 60%;
			}
		}
	}

	#photos {
		width: 65%;

		img {
			margin: 1%;
			max-width: none;
			min-width: none;
		}
	}
}



@media screen and (max-width: 600px) {

	.content {
		padding-top: 75px;
		padding-bottom: 75px;
		position: relative;

		h2 {
			font-size: 1.7em;
			width: 80%;
		}

		h3 {
			font-size: 1em;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			font-size: 0.92em;
		}

		a {
			font-size: 0.95em;
		}
	}


/*-----------------------------------
Background Images
-----------------------------------*/


	#imgCont1 {
		height: 90%;
	}

	.imageContainer {
		width: 100%;
		height: 75%;
	}

	%images {
		background-attachment: scroll;
		height: 100%;
		width: 100%;
	}	

	#imageOne {
		/*background-position: 8% 0;*/
		background-image: url("../images/MND_Web_Stones_Mobile.jpg");
		background-position: center;
	}


	#imageThree {
		background-position: 75%;
	}


/*-----------------------------------
Navigation
-----------------------------------*/


	.button {
		padding: 8px 15px;
	}

	#mobNav {
		li {
			width: 80%;
		}
	}

	#navButton {
		width: 12vw;
		max-width: 60px;
		max-height: 60px;
		height: 12vw;

		#navInner {
			position: relative;
			width: 50%;
			margin: 0 auto;
 			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
	}



/*-----------------------------------
Landing Page
-----------------------------------*/


	#logo {
		top: 5.5%;
		right: 6%;
		width: 70%;
		min-width: 0;
		z-index: 9;
	}

	#scrollIcon {
		top: 93%;
		left: 0;
		width: 35px;
		z-index: 9;
	}


	#about {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	#beliefs {
		li {
			font-size: 0.95em;
			width: 80%;
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	#practice {
		span {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 65%;
			line-height: 1.3em;
		}
	}

	#credentials img {
		width: 100%;
	}

	#photos {
		width: 70%;

		img {
			width: 40%;
			min-width: 0;
		}
	}

	#icons {
		.iconItems {
			width: 37%;
			&:nth-child(n+3) {
				margin-top: 15px;
			}
		}
	}


	#life {
		padding-bottom: 75px;
	}

	#socialIcons {
		img {
			width: 10%;
			margin: 0 3%;
		}
	}

/*-----------------------------------
Other Pages
-----------------------------------*/

	#conditions {
		ul {
			width: 70%;
			height: auto;
		}

		li {
			padding: 5px 14px 5px 14px;

			&:last-child {
				margin-bottom: 20px;
			}
		}
	}


/*-----------------------------------
Footer
-----------------------------------*/


	#footer {
		z-index: 999;
		position: relative;
		background-color: $primary-black;
	}

	#footerLockup {
		width: 80%;
		height: 120px;
	}

	#stones {
		width: 25%;
	}

	#footerLogo {
		width: 70%;
		margin-left: 3%;
		bottom: 0px;
	}

	#footerInfo {
		padding-bottom: 20px;
		position: relative;
		p {
			display: block;
			width: 80%;
			margin: 0 auto;
			font-size: 0.9em;
			position: relative;
			bottom: 20px;
		}
	}

}






